body {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
}

h1,
.module h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #fff;
}

.carousel h2 {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  color: #fff;
}

.description h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.catalog-item h3 {
  font-weight: 500;
}

form[name="search"],
.menu-dropdown {
  position: absolute;
  display: none;
}
.subscription label {
  display: block;
  visibility: hidden;
}

.wrapper {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  background-color: antiquewhite;
}

/* для отладки */
/*
header {
  background: lightblue;
}

.logo {
  float: left;
}

nav {
  float: left;
}

.main-menu {
  background: orange;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu > li {
  background: lightgreen;
  float: left;
}

.mini-basket,
.user,
.search {
  float: right;
}

.header-info,
.breadcrumbs {
  clear: both;
}
.info-time,
.info-phone {
  text-align: right;
  margin: 0;
}
*/